@import "pages/first";
@import "pages/second";

div[id="test1"]{
    background-image: url(../img/123.jpg);
}
.chart {
    display:block;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  
}