<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="css/main.css", rel="stylesheet")
        
    
    style.
        li{
            width:50px;
            display:inline-block;
        }

        img{
            width:100%;
        }
    
body
    div.left
        div.title 
        div.status
        div.ad
    div.video
    div.right
        div.controls
            ul
                li
                  img(src="http://lorempixel.com/640/480/people", alt="")
                li
                  img(src="http://lorempixel.com/640/480/people", alt="")
                li
                  img(src="http://lorempixel.com/640/480/people", alt="")
                li
                  img(src="http://lorempixel.com/640/480/people", alt="")
                li
                  img(src="http://lorempixel.com/640/480/people", alt="")
                
        div.rooms
            ul
                li
                    span 1
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 2
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 3
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 4
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 5
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 6
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 7
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 8
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 9
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 10
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 11
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 12
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 13
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 14
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
                li
                    span 15
                    img(src="http://lorempixel.com/640/480/nightlife", alt="")
        //- Sicbo, Fantan & Roulette
