extends layout.pug

block css
  link(href="../css/vue.css", rel="stylesheet")
  
block append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js")
  script(src='../js/vue_76.js')

block content
    h1 使用vue.js計算呈現資訊/v-if
    h3 實戰博客來排行榜資料轉換html
     span
        img.bkl_icon(src="http://pk.ixpanel.com/images/pk/201108/0824/BOOKS.gif")
        a(href="#") (連結網址)
    .book(v-for="book in books")
        img(:src="book.img")
        .infos
          h2.name {{book.name.substring(0,18)}}
          h4.author 作者:{{book.author}}
          h4.price 價錢: {{book.discount*100}}折{{parseInt(book.price*book.discount)}}元
          