<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
  <link href="../css/vue.css" rel="stylesheet"/>
</head>
<body>
  <div id="app">
    <h1> Vue.js使用者互動</h1>
    <h3> 使用v-model="變數名稱" 即時的偵測輸入改變</h3>
    <hr/>
    <label>姓名：</label>
    <input v-model="name"/><br/>
    <label>訊息：</label>
    <input v-model="msg"/><br/>
    <label>顏色：</label>
    <input v-model="color"/><br/>
    <label>Class：</label>
    <input v-model="classs"/>
    <div v-for="(book,index) in books">
      <label>book {{index+1}}:</label>
      <input v-model="book.name"/>
    </div>
    <h4>哈囉，{{name}}</h4>
    <h5>你輸入了：{{msg}}</h5>
    <h5>下面這個方塊顏色是：{{color}}</h5>
    <h5>下面這個方塊類別是：{{classs}}</h5>
    <div class="block" v-bind:style="{backgroundColor: color}" v-bind:class="classs"></div>
    <ul>
      <li v-for="book in books">  {{book.name}}</li>
    </ul>
  </div>
</body>
<script src="../js/vue_3.js"></script>