<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js">
    </script>
    <script src="../js/jquery.js">
    </script>
    <style>
        * {
            list-style: none;
            font-family: "微軟正黑體";
            outline: none;
            box-shadow: none;
        }

        ul,
        .block {
            display: inline-block;
        }

        .colorBtn {
            /*margin-left: 50px;*/
            width: 100px;
            /*margin: auto;*/
            background-color: #fa0;
            padding: 10px;
            color: #fff;
            /*border:none;*/
            cursor: pointer;
        }

        .block {
            background-color: skyblue;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
        }

        li[class^=bits--] {
            display: inline-block;
            border: 1px solid skyblue;
            width: 40px;
            height: 40px;
            margin: 7px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
        }

        li[class^=control--] {
            display: inline-block;
            border: 1px solid skyblue;
            width: 30px;
            height: 30px;
            margin: 4px;
            line-height: 30px;
            text-align: center;
            /*border-radius: 50%;*/
            cursor: pointer;
            transition: 0.5s;
        }

        li:hover {
            background-color: skyblue;
        }

        .current {
            background-color: skyblue;
        }

        #show {
            background-color: #eee;
            margin-top: 20px;
        }
        .moneyMutiple{
            display: inline-block;
            background-color:#fa0;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            width:30px;
            height: 30px;
            cursor:pointer;
        }
        #mutipleNum{
            display: inline-block;
            width: 30px;
            text-align: center;
        }
        #controls{
            margin-bottom: 20px;
        }
        #unit{
            margin: 0;
        }
        #unit > li{
            display: inline-block;
            border:1px solid #fa0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
        }
        #unit > li:hover{
            background-color:#fa0;
        }
        #bonusRatio{
            vertical-align: middle;
        }
        #bonusBackRatio{
            display: inline-block;
            width: 100px;
        }
        .choice{
            background-color:#fa0;
        }
#show{
    overflow-y:scroll;
    height: 200px;
    /*width: 400px;*/
}
input[type="range"]{
  -webkit-appearance: none;
  border-radius:2px;
  width:200px;
  height:3px;
  background-image:-webkit-linear-gradient(left ,#fa0 0%,#fa0 0%,#fff 0%, #fff 100%);
  box-shadow:inset #abb 0 0 5px;
  outline : none;
  transition:.1s;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width:14px;
  height:14px;
  background:#fa0;
  border-radius:50%;
  transition:.1s;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active{
  width:16px;
  height:16px;
}
    </style>
</head>

<body>
    <!--<div id="app">
        <ul>
            <li class="" v-on:click="handleClick" v-for="(num,index) in number">{{num}}</li>-->
    <!--<li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>-->
    <!--</ul>
        <button v-on:click="submit">添加號碼</button>
        <ul>
            <span id="show" v-for="show in shows" v-if="displayMe" v-once>
                {{show}},
            </span>
        </ul>
        
    </div>-->
    <!--<div>
    <div class="field">
        <div class="block">
            萬位:
        </div>
        <ul>
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
        </ul>
    </div>
    <div class="field">
        <div class="block">
            千位:
        </div>
        <ul>
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
        </ul>
    </div>

    <button id="submit">添加號碼</button>
    <div id="show">
        當前已選:<span id="total"></span>注<span>您所選的號碼:</span>
    </div>
</div>-->

    <div id="app"></div>
    <div id="controls">

    </div>
    <div id="btnArea"></div>
    <div id="status"></div>
    <div id="show"></div>
</body>

</html>
<script>

    // (function(){
    
    /*
        變數說明
        numArea         數字列放置的位置
        btnArea         按鈕放置位置
        controlArea     控制條放置位置
        num             想顯示的行數
        bits            位數陣列
        money           一注多少錢
    */
    //建立建構式
    var selectNumber = function (numArea, btnArea,controlArea, num,bits,money,controlBtn,controlTag) {
        this.numArea = numArea;
        this.num = num;
        this.btnArea = btnArea;
        this.controlArea =controlArea;
        this.bits = bits;
        this.money = money;
        this.controlBtn =controlBtn;
        this.controlTag =controlTag;
        
    }
    selectNumber.prototype.createNumbers = function () {
        var numArea = this.numArea;
        var num = this.num;
        var bits = this.bits;
        var money = this.money;
        var btnArea = this.btnArea;
        var controlArea = this.controlArea;
        var money = this.money;
        var controlBtn = this.controlBtn;
        var controlTag = this.controlTag;        
        /*
            變數說明
            bettingTotal   總注數(預設為1，因為要相乘)
            numList        存放所有數字變數
        */
        var bettingTotal = 1;
        var numList = [];

        for (var i = 0; i < num; i++) {
            $(numArea).append(
                `<div class="field">
                    <div class="block">
                        ${bits[i]}位:
                    </div>
                    <ul>
                        <li class="bits--${i}" data-bits="${i}">0</li>
                        <li class="bits--${i}" data-bits="${i}">1</li>
                        <li class="bits--${i}" data-bits="${i}">2</li>
                        <li class="bits--${i}" data-bits="${i}">3</li>
                        <li class="bits--${i}" data-bits="${i}">4</li>
                        <li class="bits--${i}" data-bits="${i}">5</li>
                        <li class="bits--${i}" data-bits="${i}">6</li>
                        <li class="bits--${i}" data-bits="${i}">7</li>
                        <li class="bits--${i}" data-bits="${i}">8</li>
                        <li class="bits--${i}" data-bits="${i}">9</li>
                    </ul>
                    <ul>
                        <li class="control--all--${i}" data-control="all" data-bits="${i}">全</li>
                        <li class="control--large--${i}" data-control="large" data-bits="${i}">大</li>
                        <li class="control--small--${i}" data-control="small" data-bits="${i}">小</li>
                        <li class="control--odd--${i}" data-control="odd" data-bits="${i}">單</li>
                        <li class="control--even--${i}" data-control="even" data-bits="${i}">雙</li>
                        <li class="control--clean--${i}" data-control="clean" data-bits="${i}">清</li>
                    </ul>
                </div>`
            )


        }
            /*======================
              放置controls
            =======================*/
                $(controlArea).append(`        倍數:
        <span id="less" class="moneyMutiple">-</span>
        <span id="mutipleNum"></span>
        <span id="more" class="moneyMutiple">+</span>
        倍
        <ul id="unit">
            
            <li class="unit--dallar choice" data-persent=1>元</li>
            <li class="unit--angle" data-persent=0.1>角</li>
            <li class="unit--cent" data-persent=0.01>分</li>
             當前返點:<span id="bonusBackRatio"></span>
        </ul>
        <input type="range" max="70" min = "0" value="0" id="bonusRatio">
        獎金:<span id="bonus"></span>`)            
        /*======================
            　　元、角、分
        =======================*/
        $("li[class^=unit]").on('click',function(){
            if($(this).not(".choice")){
                $(this).addClass("choice");
                $(this).siblings().removeClass("choice")
            }
            
            
        })

        var unit = 1;//設初始值為"元"
        $("li[class^=unit--]").on('click',function(){
            switch ($(this).data("persent")) {
                case 1:
                    unit =1;
                    showBonusBackRatio();
                    break;
                case 0.1:
                        unit = 0.1;
                        showBonusBackRatio();
                        break;
                case 0.01:
                        unit = 0.01;
                        showBonusBackRatio();
                        break;
                default:
                    break;
            }
            console.log(unit,'unit');
            showBetting();
        })
        
        
        var bonus = 17; //獎金可能為後端傳送
        var showBonus = function (bonusBackRatio){
           $("#bonus").text(((bonus-bonus* bonusBackRatio/100) * unit).toFixed(3) );
        }
        console.log(bonusBackRatio);
        /*======================
            　　顯示反點%數
        =======================*/
        showBonusBackRatio();
        function showBonusBackRatio(){
            var bonusBackRatio = parseInt($("#bonusRatio").val())*unit;
            $("#bonusBackRatio").html((bonusBackRatio/10).toFixed(3)+"%");
            console.log(bonusBackRatio);
            showBonus(bonusBackRatio);
        }
        $("#bonusRatio").on('input', showBonusBackRatio)
        /*======================
            　放置金錢控制
        ======================*/
        var mutipleNum = 1; //預設一倍
        showMutiple();
        function showMutiple(){
            $("#mutipleNum").text(mutipleNum);
        }
        $("#more").on('click',function(){
            if (mutipleNum >= 1) {
                mutipleNum += 1;
                showMutiple();  //顯示倍數
                showBetting();
            } else{
                alert('請選擇正確倍數')
            }            
        })
        $("#less").on('click',function(){
            if(mutipleNum >1){
                mutipleNum -= 1;
                showMutiple();
                showBetting();
            }else{
                alert('請選擇正確倍數')
            }
            
        })

        /*======================
                放置btn
        =======================*/

        $(btnArea).append(
            `
        <button id="submit" class="colorBtn">
            添加號碼
        </button>
        <button id="random" class="colorBtn">
            隨機選號
        </button>
        `
        )


        /*======================
        印出0注、清空陣列並產生二維
        =======================*/        
        cleanList(); //先執行一次

        function cleanList() { //在畫面顯示目前0注，新增第二層陣列
            
            $("#status").html(
                `目前投注0注`
            )
            // for (let i = 0; i < num; i++) {
            //     list.push("");
            //     numList.push(0);
            // }


            //根據所要產生的行數決定第二層陣列要幾個
            for (var i = 0; i < num; i++) {
                numList[i] = [];
            }
        }
        
        /*======================
            　　數字按鈕
        =======================*/
        $("li[class^=bits--]").on('click', function () {
            //抓取目前是第幾行
            var nowBits = $(this).data("bits");
            if ($(this).hasClass('current')) {
                $(this).removeClass('current');
                //計算所按的數字按鈕是第幾號，如果找的到，即刪除該號
                var index = numList[nowBits].indexOf(parseInt($(this).text()));
                if (index > -1) {
                    numList[nowBits].splice(index, 1);
                }
                // console.log('numList', numList);
                // showBetting();
            } else {
                // console.log($(this).data("bits"), 'bits');
                // numList[nowBits] += 1;
                
                $(this).addClass('current');
                //把所按的數字放入該行陣列
                numList[nowBits].push(parseInt($(this).text()));

                // showBetting();
            }


            // console.log('numList', numList);
            showBetting();




        })
        /*======================
        　　 顯示目前投了幾注
        =======================*/
        //預設還不夠一注
        var notAll = true;
        function showBetting() {
            //計算所有注數
            // bettingTotal = 1;
            // for (let i = 0; i < numList.length; i++) {
            //     bettingTotal = bettingTotal * numList[i];
            // }
            // console.log(bettingTotal);

            //計算陣列裡面的物件是否每一行的長度為0
            notAll = numList.some(function (value, index, array) {
                // console.log(value, index, array);
                //陣列裡面物件的長度是否為0
                return value.length == 0 ? true : false;
            });
            //所有注數預設為一
            bettingTotal = 1;
            for (var i = 0; i < numList.length; i++) {
                //將陣列裡每個物件的長度相乘
                bettingTotal = bettingTotal * parseInt(numList[i].length);
                // console.log(bettingTotal);
            }
            //如果裡面有值，則將注數跟金額印出來
            if (!notAll) {
                var newMoney = new Number(money * bettingTotal);
                $("#status").html(
                    //toFixed到幾位數
                    `目前投注${bettingTotal}注,投注金額：${(mutipleNum*newMoney * unit).toFixed(5)}元`
                )
                //沒值，就印0注
            } else {
                $("#status").html(
                    `目前投注0注`
                )
            }

        }


        var finalList = [];
        $("#submit").on('click', function () {
            //宣告一個最後呈現的陣列
            var totalList = [];
            for (var i = 0; i < numList.length; i++) {
                //把原本陣列裡的值放入要呈現的陣列中，並用空白分開
                totalList.push(numList[i].join(" "));
            }
            if (notAll) {
                alert('不夠一注');
            }
            else if(!notAll) {

                if (finalList.toString().indexOf(totalList.toString()) >-1) {
                    totalList = [];
                    alert("彩票號已重複，無須添加");
                }else{
                    // console.log(totalList);
                    finalList.push(totalList);
                    $("#show").append(
                        `
                        <div>
                            <span>[複式組合]</span>
                            ${totalList}
                            <span>共：${bettingTotal}注</span>
                            <span>${mutipleNum}倍</span>
                            <span></span>
                            <button class="deleteBtn">x</button>
                        </div>
                        `
                    );
                    deleteArr();
                    $("li[class*=current]").removeClass("current");
                    cleanList();
                    console.log(numList);
                }                

            }
            console.log(finalList,totalList,'total');
            showBetting();
            // if (numList.indexOf(0) == -1) {
            //     $.each($("li[class*=current]"), function (obj) {
            //         for (var i = 0; i < num; i++) {

            //             if ($(this).hasClass('bits--' + i)) {

            //                 numList[i] += 1;
            //                 list[i] += " " + $(this).text();
            //                 console.log($(this).text());
            //                 console.log(numList, 'numlist');

            //             }
            //         }
            //         $(this).removeClass("current");

            //     })
            //     var totalStr = list.join(", ");
            //     var leng = 15;
            //     console.log(totalStr.length,'length');
            //     if(totalStr.length>5){
            //         console.log('large');
            //         totalStr = totalStr.substr(0,leng)+" ...";
            //     }
            //     $("#show").append(
            //         `
            //         <div>
            //             <span>[複式組合]</span>
            //             ${totalStr}
            //             <span>共：${total}注</span>
            //         </div>
            //         `
            //     );

            //     cleanList();
            // } else {
            //     alert('不夠一注')
            // }


        })
        /*======================
            　　刪除按鈕
        =======================*/
        function deleteArr(){
            $(".deleteBtn").on('click', function () {
                console.log('click');

                $(this).parent().remove();
                var index = $(this)
                // finalList.toString().indexOf
            })
        }

        /*======================
               random按鈕　　
        =======================*/
        $("#random").on('click', function () {
            console.log('click');
            //當numList滿的時候跳出

            var isAll = numList.some(function (value, index, array) {
                console.log(value, index, array, 'some');
                //陣列裡面物件的長度是否為0
                return value.length == 10 ? true : false;
            });
            console.log(isAll, 'isAll');
            for (var i = 0; i < num; i++) {
                // if(isAll){
                //     return;
                // }else{
                if (numList[i].length != 10) {
                    do {
                        var ran = Math.floor(10 * Math.random());
                        // console.log(numList[i].indexOf(ran));
                        // console.log('do');
                        var exsit = false;
                        //如果找不到值
                        console.log(ran);
                        //找不到
                        if (numList[i].indexOf(ran) == -1) {
                            //在與隨機號碼一樣的數字加上class
                            $(".bits--" + i).eq(ran).addClass("current");
                            // console.log($(".bits--" + i).eq(ran));
                            //並把數字放入陣列中
                            numList[i].push(ran);
                            // console.log(numList);
                        } else {
                            //如果找到值則exsit變成true，loop會繼續執行，直到找不到值為止
                            exsit = true;
                        }
                        //當exsit 等於true就會繼續執行
                    } while (exsit);
                }

                // }

            }
            showBetting();



            //如果找不到值
            // if (list.indexOf(ran) == -1) {
            //     //在與隨機號碼一樣的數字加上class
            //     $(".sixLottery").children("li").eq(ran).addClass("choice");
            //     //並把數字放入陣列中
            //     list.push(ran);
            // } else {
            //     //如果找到值則exsit變成true，loop會繼續執行，直到找不到值為止
            //     exsit = true;
            // }
            // } while (exsit);
            // }
            // appendNumber();
            // for(var i= 0;i49;i++){
            //     do {
            //         var exist = false;
            //         if (numList.indexOf(ran) !=-1) exist = true;
            //      } while (exist);
            // }

            // console.log(ran);

        })

            /*======================
             在某行放置一個範圍的數字
            =======================*/
            function pushNumber(nowBits, min, max) {
                //先清空該行
                numList[nowBits] = [];
                for (var i = min; i <= max; i++) {
                    numList[nowBits].push(i);
                }
                console.log(numList);
            }

            /*======================
                  control
            =======================*/
            $(controlBtn).on('click', function () {
                // console.log($(this).data("control"));

                var nowBits = $(this).data("bits");
                switch ($(this).data("control")) {
                    case "all":
                        $(controlTag + nowBits).addClass("current")
                        pushNumber(nowBits, 0, 9);
                        showBetting();
                        break;
                    case "large":
                        $(controlTag + nowBits + ":gt(4)").addClass("current");
                        $(controlTag + nowBits + ":lt(5)").removeClass("current");
                        pushNumber(nowBits, 5, 9);
                        showBetting();
                        break;
                    case "small":
                        $(controlTag + nowBits + ":gt(4)").removeClass("current");
                        $(controlTag + nowBits + ":lt(5)").addClass("current");
                        pushNumber(nowBits, 0, 4);
                        showBetting();
                        break;
                    case "odd":
                        $(controlTag + nowBits + ":even").removeClass("current");
                        $(controlTag + nowBits + ":odd").addClass("current");
                        numList[nowBits] = [];
                        for (var i = 0; i < 10; i++) {
                            if (i % 2 != 0) {
                                numList[nowBits].push(i);
                            }
                        }
                        showBetting();
                        console.log(numList);
                        break;
                    case "even":
                        $(controlTag + nowBits + ":odd").removeClass("current");
                        $(controlTag + nowBits + ":even").addClass("current");
                        numList[nowBits] = [];
                        for (var i = 0; i < 10; i++) {
                            if (i % 2 == 0) {
                                numList[nowBits].push(i);
                            }
                        }
                        showBetting();
                        console.log(numList);
                        break;
                    case "clean":
                        $(controlTag + nowBits).removeClass("current");
                        numList[nowBits] = [];
                        showBetting();
                        break;
                    default:
                        break;
                }

            })        

    } //structor end
    selectNumber.prototype.choiceNumbers = function(){

    }
    var money = 4.00000;
    var bits = ["萬", "千", "百", "十", "個"];
    var controlBtn = "li[class^='control--']";
    var controlTag= ".bits--";
    var lottery = new selectNumber("#app", "#btnArea","#controls", 5,bits,money,controlBtn,controlTag);
    lottery.createNumbers();
    // lottery.choiceNumbers();
    // lottery.createSubmit();
    // function add(list) {
    //     var tol=0;
    //     $.each(list,function(obj){
    //         tol +=obj * tol;
    //     })

    // }
    // $("li").on('click',function(){
    //     if($(this).hasClass('current')){
    //         $(this).removeClass('current');
    //     }else{
    //         $(this).attr('class', 'current');
    //     }
    // })
    // $("#submit").on('click',function(){
    //     var list = [];
    //     $.each($("li"),function(obj){

    //         if($(this).hasClass('current')){
    //             list.push($(this).text());
    //             console.log($(this).text());
    //         }

    //     })
    // $("#show").append(list.join(", "));

    // $("#total").append("2");


    //     // if ($("li").hasClass('current')) {
    //     //     console.log('li', $("li").hasClass('current'));
    //     //     // list.push()
    //     // }
    // })

    // var app = new Vue({
    //     el:"#app",
    //     data:{
    //       number:[0,1,2,3,4,5,6,7,8,9],
    //       shows:[],
    //     //   active:true,
    //       isActive:false,
    //       displayMe:false
    //     },
    //     methods:{
    //         handleClick:function(e){
    //             if(e.target.className != "current"){
    //                 e.target.className = "current";
    //             }else{
    //                 e.target.className = "";
    //             }
    //             this.shows.push(parseInt(e.target.innerText));
    //         },
    //         submit:function(){
    //             console.log(this.shows);
    //             this.displayMe=true;
    //             // this.shows=[];

    //         }
    //     }
    // })
//  }())

</script>